<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>sogong_api</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
  <session-config>
    <session-timeout>30</session-timeout>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/code404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/code500.jsp</location>
  </error-page>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>egovframework.com.cmm.context.EgovWebServletContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>
            org.springframework.security.web.session.HttpSessionEventPublisher
        </listener-class>
  </listener>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class> org.springframework.web.filter.CharacterEncodingFilter </filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:egovframework/spring/context-*.xml</param-value>
  </context-param>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/config/egovframework/springmvc/egov-com-*.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>/</url-pattern>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>HTMLTagFilter</filter-name>
    <filter-class>egovframework.rte.ptl.mvc.filter.HTMLTagFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HTMLTagFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
    <servlet>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>user.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/userRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChatSubmitServlet</servlet-name>
    <servlet-class>chat.ChatSubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatSubmitServlet</servlet-name>
    <url-pattern>/chatSubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChatListServlet</servlet-name>
    <servlet-class>chat.ChatListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatListServlet</servlet-name>
    <url-pattern>/chatListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>user.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChatUnreadServlet</servlet-name>
    <servlet-class>chat.ChatUnreadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatUnreadServlet</servlet-name>
    <url-pattern>/chatUnread</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChatBoxServlet</servlet-name>
    <servlet-class>chat.ChatBoxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatBoxServlet</servlet-name>
    <url-pattern>/chatBox</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>user.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/userUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserProfileServlet</servlet-name>
    <servlet-class>user.UserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern>/userProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BoardWriteServlet</servlet-name>
    <servlet-class>board.BoardWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardWriteServlet</servlet-name>
    <url-pattern>/boardWrite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BoardUpdateServlet</servlet-name>
    <servlet-class>board.BoardUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardUpdateServlet</servlet-name>
    <url-pattern>/boardUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BoardDeleteServlet</servlet-name>
    <servlet-class>board.BoardDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardDeleteServlet</servlet-name>
    <url-pattern>/boardDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BoardReplyServlet</servlet-name>
    <servlet-class>board.BoardReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardReplyServlet</servlet-name>
    <url-pattern>/boardReply</url-pattern>
  </servlet-mapping>
</web-app>